<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=localhost; Uid=root;Pwd=abcd;persistsecurityinfo=True;database=a8platformsprint34" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="1.0" />
    <add key="FatiNotificationServerUrl" value="tcp://10.38.129.170:5560" />
    <add key="TopicName" value="device" />
    <!--<add key="AreaNames" value="BGEO-15,nan,BGEO-14,BGEO-13,BGEO-12,BGEO-9,BGEO-2,BGEO-8,BGEO-5,BGEO-3,BGEO-1,BGEO-4,BGEO-10," />-->
    <add key="SiteId" value="1" />
    <add key="EntryNotifyUrl" value="http://localhost:58203/RealTimeLocation/TestMemeberApplication/" />
    <add key="ApproachNotifyUrl" value="http://localhost:58203/RealTimeLocation/TestMemeberApplication/" />
    <add key="MINCheckConsecutiveShownDiffInSeconds" value="5" />
    <add key="MAXCheckConsecutiveShownDiffInSeconds" value="15" />
   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Log.config" />
      </factoryAdapter>
    </logging>
  </common>

</configuration>